<div class="card">
    
  
    <p-table *ngIf="ordersObs | async as orders" [value]="orders" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>PersonName</th>
                <th>StockName</th>
                <th>Quantity</th>
                <th>Price</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order >
            <tr>
                <td>{{ order.personName }}</td>
                <td>{{ stocks[order.stockId].name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.price | number: '1.0-2'}}</td>

            </tr>
        </ng-template>
    </p-table>
</div>